@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Student";
}
@model List<StudentPortal.Models.Enitity.Student>;
<div class="container mt-5">
    <h2 class="mb-4">Submitted Entries</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Email</td>
                    <td>@student.Phone</td>
                    <td>@student.isActive</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center gap-2">
                            <a class="btn btn-sm btn-outline-primary d-flex align-items-center justify-content-center"
                               title="Edit"
                               asp-controller="EditStudent"
                               asp-action="Edit"
                               asp-route-id="@student.Id">
                                Edit
                            </a> 
                                <a class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center"
                               title="Delete"
                                   asp-controller="ShowStudents"
                                   asp-action="Delete"
                                   asp-route-id="@student.Id">
                                    Delete
                                </a>
                        </div>
                    </td>
                </tr>
            } 
            <!-- Additional rows can be added here -->
        </tbody>
    </table>
</div>
<br />
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}
@if (TempData["delete_msg"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["delete_msg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}